.body{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
} 

#root{
    background-color: white;

}
.lea{
    background-color: cornflowerblue;
}
.p {
    color: crimson;
}
.my-2{
    color: aqua;
}
