.body{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
} 

#root{
    background-color: white;

}
.lea{
    background-color: red;
}
.p {
    color: crimson;
}
.my-2{
    color: aqua;
}
.block1{
 background-color: green;

}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.text-center{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
}

.card-body{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    }
.card-header{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
}

p{
    color:white;
}

.btn{
    color: white;
}