.body{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    
} 

#root{
    background-color: white;

}
.lea{
    background-color: red;
}
.p {
    color: crimson;
}
.my-2{
    color: aqua;
}
.block1{
 background-color: green;

}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
    
}    

.text-center{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
}

.card-body{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    }
.card-header{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
}


/* color textos */
p{
    color: rgb(255, 251, 251);
}

  

.mastfoot{
    background-color: black;
}

.h3{
    color:white;
}

.checkbox{
    color: white;
}

/*LEtras notificcaciones*/
.media-body{
    color: white(59, 58, 58);
}

/*color letras de las cards */
.my-0{
    color: white;
}





.body{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    
} 

.text-muted{

    background-color: rgba(0,0,0,0.4);
}
.my-3{
    background-image: url('../images/fondo.jpg');
    background-size: cover;
    
    
    color: white;/*Fondo de las notificaciones y calendario*/
}

/*Color letras calendario y notificaciones*/
.d-block{
    color: white;
}


.text-gray-dark{
    color: white;
}

#coso{
   
padding-inline: 0px ;
}
